@model PresentacionWeb.Models.UsuarioModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Editar Usuario
    </div>
    <div class="card-body">


        <form asp-action="Eliminar" asp-controller="Usuarios" method="post">

            <input asp-for="Id" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el Usuario : @Html.DisplayTextFor(m => m.Nombre) ?
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            @Html.ActionLink("Volver a la lista", "ListaUsuarios", "Usuarios", null, new { @class = "btn btn-warning" })
        </form>


    </div>
</div>



